header {
    padding-block: 32px;
    display: flex;
    font: var(--text-md);

    .container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        
    }

    #profile {
        display: flex;
        gap: 32px;
        align-items: center;
        
        img {
            width: 176px;
            height: 176px;
            object-fit: cover;
            border-radius: 50%;
        }


        .bio{
            max-width: 384px;
            
        }


        h1 {
            font: var(--text-lg);
            margin-bottom: 8px;
            }
        }

        #info ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: 280px;
            font-size: 14px;

            li {
                display: flex;
                align-items: center;
                gap: 8px;
            }

    }
}